@charset "utf-8";
/* 전체 폰트 변경 */
body{
    font-family: sans-serif;
}
/* 전체 사이즈 및 가운데 정렬 */
.megabox_container{
    margin: 0 auto;
    position: relative;
}

/* 최상단배너 */
.top-banner{
    background-color: #25325e;
    position: relative;
}
.top-banner .top-banner-wrap{
    width: 1200px;
    margin: 0 auto;
}
.top-banner .top-banner-wrap a{
    display: block;
}
.top-banner .top-banner-wrap a img{
    display: block;
    width: 100%;
}
.top-banner button{
    width: 20px;
    height: 20px;
    background-color: #4d4d4d;
    border: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.top-banner button i{
    color: #fff;
    font-size: 12px;
    line-height: 21px;
}


/* header css */
header{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 99;
    background-color: rgb(0 0 0 / 30%);
}
header .header_TC{
    width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    /* position: relative; */
}
/* header_top css 및 좌우 float */
header .header_top{
    float: left;
    margin-bottom: 5px;
    padding-top: 10px;
    width: 1200px;
}
header .header_top .memberShip{
    float: left;
}
header .header_top .memberShip a{
    margin-right: 15px;
    font-size: 14px;
    color: #888;
}
header .header_top .memberShip a:hover{
    text-decoration: underline;
}
header .header_top .logout{
    float: right;
}
header .header_top .logout a{
    margin-left: 15px;
    font-size: 14px;
    color: #888;
}
header .header_top .logout a:hover{
    text-decoration: underline;
}
/* 메인로고 position으로 띄우기 */
header h1{
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
}
/* header_center css 및 정렬 */
header .header_center{
    width: 1200px;
    position: relative;
}
header .header_center .search{
    float: left;
}
/* header_center 좌측 목록 및 검색버튼 css */
header .header_center .search button{
    background-color: transparent;
    border: none;
    margin-right: 20px;
    padding: 20px 0;
    outline: 0;
}
header .header_center .search button:hover{
    cursor: pointer;
    color: black;
}
header .header_center .search button i{
    font-size: 25px;
    color: #cdcdcd;
}
header .header_center .search button i:hover{
    color: #fff;
}
/* 메뉴버튼 클릭전 */
header .header_center .search #list_btn .fa-bars,
header .header_center .search #search_btn .fa-magnifying-glass{
    display: block;
}
header .header_center .search #list_btn .fa-circle-xmark,
header .header_center .search #search_btn .fa-circle-xmark{
    display: none;
}
/* 메뉴버튼 클릭후 */
header .header_center .search #list_btn.btn_on .fa-bars,
header .header_center .search #search_btn.btn_on .fa-magnifying-glass{
    display: none;
}
header .header_center .search #list_btn.btn_on .fa-circle-xmark,
header .header_center .search #search_btn.btn_on .fa-circle-xmark{
    display: block;
}

/* 목록버튼 토글 */
header .header_bottom .list_toggle{
    display: none;
    position: absolute;
    left: 0;
    top: -1px;
    width: 1200px;
    background-color: #333;
    color: #eee;
}
/* 검색 버튼 토글 */
header .header_bottom .search_toggle{
    display: none;
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    background-color: #351f67;
}
/* 메인로고 기준 좌측 메뉴 */
header .menu_wrap{
    display: flex;
    padding-top: 19px;
    padding-left: 90px;
}
header .menu_wrap ul li .depth2 li{
    margin-right: 16px;
}
header .menu_wrap ul li .depth2 li a:hover{
    text-decoration: underline;
}
header .menu1{
    margin-right: 100px;
    display: flex;
}
header .menu1 > li > a{
    margin-right: 80px;
    font-size: 18px;
    padding: 15px 0 19px;
    color: #fff;
}
/* header .menu1 > li > a:hover{
    border-bottom: 5px solid #fff;
    color: #fff;
} */
header .depth1.hover{
    border-bottom: 5px solid #fff;
    color: #fff;
}
header .depth2{
    /* display: flex; */
    display: none;
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
    top: 96px;
    z-index: 10;
    background-color: rgb(0 0 0 / 30%);
}
header .depth2 li{
    display: inline-block;
}
header .depth2.on{
    display: block;
}
header .depth2 li a{
    color: #fff;
}
/* depth2 위치 조정 */
header .menu_wrap .menu1 li .movie,
header .menu_wrap .menu1 li .reservation,
header .menu_wrap .menu1 li .cinema,
header .menu_wrap .menu2 li .event,
header .menu_wrap .menu2 li .store,
header .menu_wrap .menu2 li .benefit{
    width: 1200px;
    margin: 0 auto;
}

header .menu_wrap .menu1 li .movie li:first-child{
    margin-left: 185px;
}
header .menu_wrap .menu1 li .reservation li:first-child{
    margin-left: 170px;
}
header .menu_wrap .menu1 li .cinema li:first-child{
    margin-left: 378px;
}
header .menu_wrap .menu2 li .event li:first-child{
    margin-left: 623px;
}
header .menu_wrap .menu2 li .store li:first-child{
    margin-left: 755px;
}
header .menu_wrap .menu2 li .benefit li:first-child{
    margin-left: 915px;
}

/* 메인로고 기준 우측 메뉴 */
header .menu2{
    display: flex;
}
header .menu2 > li{
    /* position: relative; */
}
header .menu2 > li > a{
    margin-left: 80px;
    font-size: 18px;
    padding: 15px 0 19px;
    color: #fff;
}
header .menu2 > li:first-child > a{
    margin-left: 100px;
}

/* header .menu2 > li > a:hover{
    border-bottom: 5px solid #fff;
    color: #fff;
} */

header .header_center .myPage{
    float: right;
}
/* 마이페이지, 상영시간표 */
header .header_center .myPage a{
    margin-left: 20px;
    padding: 20px 0;
    display: inline-block;
}
header .header_center .myPage a i{
    font-size: 25px;
    color: #cdcdcd;
}
header .header_center .myPage a i:hover{
    color: #fff;
}
/* header_bottom css */
header .header_bottom{
    position: relative;
    border-top: 1px solid rgba(255,255,255,0.3);
}
header .header_bottom .header_bottom_wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}
header .header_bottom i, header .header_bottom .bottom1{
    color: rgb(73, 73, 73);
}
header .header_bottom .bottom1:hover{
    text-decoration: underline;
    color: black;
}
header .header_bottom span{
    margin: 0 10px;
    color: rgb(73, 73, 73);
}
/* 목록 토글 후 css */
header .header_bottom .list_toggle.list{
    display: block;
    padding: 0 30px 50px 30px;
    z-index: 20;
    width: 100%;
}
header .header_bottom .list_toggle.list h2{
    margin: 40px 0 40px 18px;
    font-size: 30px;
    width: 1200px;
    margin: 40px auto;
}
header .header_bottom .list_toggle.list .list01{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 12px;
}
header .header_bottom .list_toggle.list ul{
    width: 170px;
    margin-right: 20px;
    text-align: center;
}
header .header_bottom .list_toggle.list ul.mt-minus{
    margin-top: -100px;
}
header .header_bottom .list_toggle.list ul li{
    margin-bottom: 15px;
    color: #999;
}
header .header_bottom .list_toggle.list ul a > li:hover{
    color: white;
    text-decoration: underline;
} 
header .header_bottom .list_toggle.list ul .list_title{
    /* font-weight: bold; */
    padding: 10px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    color: #fff;
}
/* 검색 토글 이후 */
header .header_bottom .search_toggle.input_toggle{
    display: block;
    padding: 50px;
    z-index: 20;
}
header .header_bottom .search_toggle .toggle_top{
    width: 1200px;
    margin: 0 auto;
}
/* 예매율, 메가박스 관객순 버튼 */
header .header_bottom .search_toggle .toggle_top button{
    background-color: transparent;
    color: #fff;
    border: 0;
    border-bottom: 3px solid transparent;
    margin: 0 20px 20px 0;
    font-size: 14px;
    padding-bottom: 10px;
}
header .header_bottom .search_toggle .toggle_top button:hover{
    cursor: pointer;
}
header .header_bottom .search_toggle .toggle_top button.order{
    display: inline-block;
    border-bottom: 3px solid #fff;
}
/* 영화 랭킹과 검색창을 묶는 div */
header .header_bottom .search_toggle .img_search{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}
/* 영화 포스터와 랭킹을 묶는 div */
header .header_bottom .search_toggle .img_search .img_ranking{
    display: flex;
    /* display: none; */
    flex: 1;
}
header .header_bottom .search_toggle .img_search .img_ranking.click{
    display: none;
}
header .header_bottom .search_toggle .toggle_top button.on{
    border-bottom: 3px solid #fff;
}
header .header_bottom .search_toggle .toggle_top button.on1{
    border-bottom: 3px solid #fff;
}


/* 영화 포스터 및 영화 예매율순 랭킹 */
header .header_bottom .search_toggle .img_search .movieImg{
    display: flex;
    width: 150px;
    flex: 1;
}
header .header_bottom .search_toggle .img_search .movieImg img{
    width: 150px;
    height: 200px;
}
header .header_bottom .search_toggle .img_search .movieImg .img_sub{
    display: none;
}
header .header_bottom .search_toggle .img_search .movie_ranking{
    display: flex;
    flex-direction: column;
    width: 300px;
}
header .header_bottom .search_toggle .img_search .movie_ranking > a{
    color: #fff;
    width: 300px;
}
header .header_bottom .search_toggle .img_search .movie_ranking > a:hover{
    text-decoration: underline;
}
header .header_bottom .search_toggle .img_search .movie_ranking .movieNum,
header .header_bottom .search_toggle .img_search .movie_ranking2 .movieNum{
    display: inline-block;
    color: #fff;
    margin: 5px 20px 18px 20px;
    font-size: 20px;
    font-style: italic;
}
/* 영화 포스터와 랭킹을 묶는 div */
header .header_bottom .search_toggle .img_search .img_ranking2{
    display: flex;
    display: none;
    flex: 1;
}
header .header_bottom .search_toggle .img_search .img_ranking2.click{
    display: block;
    display: flex;
    flex: 1;
}
/* 영화 포스터 및 영화 예매율순 랭킹 */
header .header_bottom .search_toggle .img_search .movieImg2{
    flex: 1;
}
header .header_bottom .search_toggle .img_search .movieImg2 img{
    width: 150px;
    height: 200px;
}
header .header_bottom .search_toggle .img_search .movieImg2 .img_sub2{
    display: none;
}
header .header_bottom .search_toggle .img_search .movie_ranking2{
    display: flex;
    flex-direction: column;
    width: 300px;
}
header .header_bottom .search_toggle .img_search .movie_ranking2 > a{
    color: #fff;
}
header .header_bottom .search_toggle .img_search .movie_ranking2 > a:hover{
    text-decoration: underline;
}
header .header_bottom .search_toggle .img_search .movie_ranking2 .movieNum{
    display: inline-block;
    color: #fff;
    margin: 5px 20px 18px 20px;
    font-size: 20px;
    font-style: italic;
}
/* 영화 검색창 */
header .header_bottom .search_toggle .img_search .inputSearch{
    flex: 2;
    text-align: center;
}
header .header_bottom .search_toggle .img_search .inputSearch form{
    position: relative;
}
header .header_bottom .search_toggle .img_search .inputSearch form input{
    width: 400px;
    padding: 20px 0 15px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}
header .header_bottom .search_toggle .img_search .inputSearch form input::placeholder{
    color: #fff;
}
header .header_bottom .search_toggle .img_search .inputSearch form button{
    border: none;
    background-color: transparent;
    position: absolute;
    right: 189px;
    bottom: 15px;
}
header .header_bottom .search_toggle .img_search .inputSearch form button:hover{
    cursor: pointer;
}
header .header_bottom .search_toggle .img_search .inputSearch form button i{
    color: #fff;
}


/* section */
#section-wrap{
    
}
/* 팝업 */
.pop-up{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.pop-up .pop-img{
    width: 320px;
    height: 250px;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
}
.pop-up .pop-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}
.pop-up .pop-img img.active{
    visibility: visible;
    opacity: 1;
}
.pop-up .pop-btn{
    overflow: hidden;
    padding-top: 15px;
}
.pop-up .pop-btn *{
    display: inline-block;
}
.pop-up .pop-btn .btn-left{
    float: left;
}
.pop-up .pop-btn .btn-left .playBtn{
    border: 0;
    background-color: #fff;
    color: #3d008c;
    width: 15px;
    cursor: pointer;
}
.pop-up .pop-btn .btn-left span{    
    background-color: #a7a7a7;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.pop-up .pop-btn .btn-left span.active{
    background-color: #3d008c;
}
.pop-up .pop-btn .btn-right{
    float: right;
}
.pop-up .pop-btn .btn-right #oneday{
    cursor: pointer;
    vertical-align: middle;
}
.pop-up .pop-btn .btn-right label{
    cursor: pointer;
    color: #454545;
    font-size: 13px;
    letter-spacing: -1px;
}
/* x버튼 */
.pop-up .x-btn{
    position: absolute;
    top: -11px;
    right: -14px;
}
.pop-up .x-btn i{
    font-size: 28px;
    color: #4d4d4d;
    background: #fff;
    width: fit-content;
    border-radius: 50%;
}



/* 섹션01 */
.section01{
    position: relative;
    padding-top: 170px;
    margin: -97px auto 0;
    height: 950px;
}
.section01 .section01-wrap{
    width: 1200px;
    margin: 0 auto;
}
.section01 *{
    color: #fff;
}
.section01 .tap-tit{
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.section01 .more{

}
.section01 .section01-bg{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;    
    background-color: #333;
    z-index: 0;
}
.section01 .section01-bg:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(to right, #080214 0%, rgb(6 0 20 / 50%) 50%, #080214 100%);
    background: -webkit-linear-gradient(to right, #080214 0%, rgb(6 0 20 / 50%) 50%, #080214 100%);
    background: -o-linear-gradient(to right, #080214 0%, rgb(6 0 20 / 50%) 50%, #080214 100%);
    background: -ms-linear-gradient(to right, #080214 0%, rgb(6 0 20 / 50%) 50%, #080214 100%);
    background: linear-gradient(to right, #080214 0%, rgb(6 0 20 / 50%) 50%, #080214 100%);
}
.section01 .section01-bg .bg-pattern{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-image: url(img/bg-pattern.png);
}
.section01 .section01-bg img{
    display: block;
    width: 100%;
    -webkit-filter: blur(20px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(15px);
    opacity: 0.4;
}
.section01 .tap-sorting{
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    z-index: 3;
}
.section01 .tap-sorting a{

}
.section01 .tap-sorting .more{
    position: absolute;
    top: 10px;
    right: 0;
    color: #ccc;
}
.section01 .tap-sorting .more:hover{
    text-decoration: underline;
}
.section01 .tap-sorting .more i{
    color: #ccc;
}
.section01 .movie-list{
    display: flex;
    gap: 45px;
    position: relative;
    z-index: 3;
}
.section01 .movie-list li{
    position: relative;
    flex-basis: 25%;
}
.section01 .movie-list li .number{
    position: absolute;
    top: 11px;
    left: 16px;
    color: #fff;
    font-size: 35px;
    font-family: arial;
    font-style: italic;
    font-weight: 100;
    text-shadow: 2px 2px 2px #212121;
}
.section01 .movie-list li .img-wrap{
    position: relative;
    border-radius: 7px;
    cursor: pointer;
}
.section01 .movie-list li .img-wrap .img-txt{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    padding: 25px;
    border-radius: 7px;
    opacity: 0;
    transition: 0.3s;
}
.section01 .movie-list li .img-wrap.on .img-txt{
    opacity: 1;    
}
.section01 .movie-list li .img-wrap .img-txt .desc{
    font-size: 15px;
    line-height: 22px;
    height: 198px;
    overflow: hidden;
}
.section01 .movie-list li .img-wrap .img-txt .score{   
    padding: 6px 0 0 0;
    text-align: center;
    border-top: 1px solid #3c3c3c;
    margin-top: 88px;
}
.section01 .movie-list li .img-wrap .img-txt .score span{
    line-height: 38px;
    vertical-align: middle;
}
.section01 .movie-list li .img-wrap .img-txt .score .mov_tit{
    font-size: 14px;
}
.section01 .movie-list li .img-wrap .img-txt .score .mov_score{
    font-size: 27px;
    color: #59bec9;
    padding-left: 11px;
}

.section01 .movie-list li .img-wrap img{
    display: block;
    width: 100%;
    border-radius:7px;
}
.section01 .movie-list li .list-btn{
    display: flex;
    margin-top: 9px;
}
.section01 .movie-list li .list-btn button{
    line-height: 36px;
    padding: 0 12px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #555;
    font-weight: 300;
    border-radius: 5px;
    width: 80px;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
}
.section01 .movie-list li .list-btn button i{
    margin-right: 4px;
    vertical-align: text-bottom;
}
.section01 .movie-list li .list-btn a{
    width: 181px;
    line-height: 36px;
    font-size: 15px;
    text-align: center;
    background-color: #037b94;
    border-radius: 5px;
    display: inline-block;
    margin-left: 5px;
}

/* search-link */
.section01 .search-link{
    position: relative;
    z-index: 3;
    background-color: rgba(0,0,0,0.2);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding: 23px 0;
}
.section01 .search-link>div{
    flex: 1;
    line-height: 30px;
    color: #666;
    border-left: 1px solid #423e3e;
}
.section01 .search-link>div:first-child{
    border-left: 0;
}
.section01 .search-link>div a:hover span{
    text-decoration: underline;
}
.section01 .search-link>div a i{
    font-size: 30px;
    font-size: 26px;
    vertical-align: middle;
}
.section01 .search-link>div a span{
    vertical-align: middle;
}
.section01 .search-link .search-movie{
    position: relative;
}
.section01 .search-link .search-movie .search-movie-border{
    width: 200px;
    border-bottom: 1px solid #423e3e;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
}
.section01 .search-link .search-movie input{
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    width: 150px;
    margin-right: 31px;
}
.section01 .search-link .search-movie input::placeholder{
    color: #cdcdcd;
}
.section01 .search-link .search-movie button{
    position: absolute;
    top: 3px;
    right: 6px;
    border: 0;
    background: transparent;
    cursor: pointer;
}
.section01 .search-link .search-movie button i{
    font-size: 19px;
    color: #cdcdcd;
}

/* 마우스 아이콘 */
.section01 .move-mouse{
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-out;
}
.section01 .move-mouse img{
    display: block;
}

/* section02 시작 */
.section02{
    
}
.section02 .section02-wrap{
    width: 1200px;
    margin: 0 auto;
}
.section02 .section02-wrap .sec-tit{
    padding-top: 50px;
    font-size: 30px;
    color: #3d008c;
    overflow: hidden;
}
.section02 .section02-wrap .sec-tit a{
    font-size: 32px;
    color: #3d008c;
    float: right;
}
.section02 .sec02-top-wrap{
    overflow: hidden;
    padding-bottom: 30px;
}
.section02 .sec02-top-wrap .sec02-left{
    float: left;
    width: 100%;
}
.section02 .sec02-top-wrap .sec02-left{

}
.section02 .sec02-top-wrap .sec02-left .benefit{
    position: relative;
    width: 934px;
    height: 325px;
}
.section02 .sec02-top-wrap .sec02-left .benefit .benefit-tit{

}
.section02 .sec02-top-wrap .sec02-left .benefit .benefit-tit img{
    position: absolute;
    top: 50px;
    left: 0;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.section02 .sec02-top-wrap .sec02-left .benefit .benefit-tit img.active{
    visibility: visible;
    opacity: 1;
    top: 0;
}

.section02 .sec02-top-wrap .sec02-left .benefit .benefit-img img{
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.section02 .sec02-top-wrap .sec02-left .benefit .benefit-img img.active{
    right: 190px;
    visibility: visible;
    opacity: 1;
}
.section02 .sec02-top-wrap .sec02-left .benefit .benefit-bar{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 385px;
}
.section02 .sec02-top-wrap .sec02-left .benefit .benefit-bar .bar{
    width: 190px;
    display: inline-block;
    padding-bottom: 4px;
}
.section02 .sec02-top-wrap .sec02-left .benefit .benefit-bar .bar span{
    float: left;
    width: 16.6%;
    height: 2px;
    background-color: #cdcdcd;
}
.section02 .sec02-top-wrap .sec02-left .benefit .benefit-bar .bar span.active{
    background-color: #3d008c;
}
.section02 .sec02-top-wrap .sec02-left .benefit button{
    width: 14px;
    height: 14px;
    color: #3d008c;
    font-size: 13px;
    vertical-align: bottom;
}
.section02 .sec02-top-wrap .sec02-left .benefit button.gray{
    color: #666;
}
.section02 .sec02-top-wrap .sec02-left .page,
.section02 .sec02-top-wrap .sec02-left .page span{
    font-size: 13px;
}
.section02 .sec02-top-wrap .bottom-banner{
    display: flex;
    height: 235px;
    position: relative;
}
.section02 .sec02-top-wrap .bottom-banner a{
    border-radius: 10px;
}
.section02 .sec02-top-wrap .bottom-banner .sec02-bn01,
.section02 .sec02-top-wrap .bottom-banner .sec02-bn02,
.section02 .sec02-top-wrap .bottom-banner .sec02-bn03{
    overflow: hidden;
}
.section02 .sec02-top-wrap .bottom-banner .sec02-bn01{ 
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.section02 .sec02-top-wrap .bottom-banner .sec02-bn02{
    margin-left: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.section02 .sec02-top-wrap .bottom-banner .sec02-bn01 img,
.section02 .sec02-top-wrap .bottom-banner .sec02-bn02 img{
    display: block;
    height: 100%;
}
.section02 .sec02-top-wrap .bottom-banner .sec02-bn03{
    position: absolute;
    right: 0;
    bottom: 0;
}
.section02 .sec02-top-wrap .bottom-banner .sec02-bn03 img{
    display: block;
}


/* footer */
.megabox_container footer{
    background-color: #f8f8fa;    
    width: 100%;
}

footer .footer_top,
footer .footer_bottom{
    width: 1200px;
    margin: 0 auto;
}
footer .footer_top{
    padding: 30px 0;
    overflow: hidden;
}
footer .footer_top:after{
    content: '';
    display: block;
    clear: both;
}
footer .footer_top .company_intro{
    float: left;
}
footer .footer_top .company_intro a{
    font-size: 14px;
    font-weight: 400;
    padding: 0 4px;
    letter-spacing: -1px;
}
footer .footer_top .company_intro a:hover{
    text-decoration: underline;
}
footer .footer_top .company_intro a strong{
    font-size: 14px;
    font-weight: 600;
}
footer .footer_top .theater{
    float: right;    
}
footer .footer_top .theater a{
    padding: 3px 17px 5px;
    border: 1px solid #8b8b8b;
    font-size: 14px;
    letter-spacing: -1px;
    border-radius: 15px;
}
footer .footer_top .theater a i{
    color: #666;
}
footer .footer_bottom{
    display: flex;
    padding-bottom: 60px;
}
footer .footer_bottom img{
    margin-right: 20px;
    height: fit-content;
}
footer .footer_bottom p{
    width: 815px;
    font-size: 14px;
    line-height: 18px;
}
footer .footer_bottom .footer-sns{
    margin-left: 80px;
}
footer .footer_bottom .footer-sns a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ADADAF;
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
}
footer .footer_bottom .footer-sns a i{
    color: #f8f8fa;
}